.widget {
    color: #73879C;
    height: 100%;
}
.widget-config {
    text-align: right;
}
.widget-content {
    overflow: hidden;
    height: 100%;
    width: 100%;
}
.widget-title {
    font-weight: 700;
}
.widget-icon {
    font-size: 0.85em;
    margin-right: 0.5em;
    cursor: pointer;
}
.height-100 {
    height: 100%;
}
