.value-container {
    text-align: center;
}
.value-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
.title {
    font-size: 1.2em;
    font-weight: bold;
}
.value {
    font-size: 1.5em;
}
