html {
    height: 100%;
    background: #f7f7f7;
}
body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background: #f7f7f7 !important;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
blockquote {
    color: #666;
    margin: 0;
    padding-left: 3em;
    border-left: 0.5em #eee solid;
}
pre {
    background: #f1f1f1;
    border-radius: 3px;
    padding: 1em 10px;
    display: block;
    font-size: 87.5%;
    color: #212529;
    margin-top: 0;
    margin-bottom: 1rem;
    overflow: auto;
}
.align-center {
    text-align: center;
}
@media only screen and (max-width: 767px) {
    .hidden-xs {
        display: none;
    }
}
@media only screen and (min-width: 768px) {
    .visible-xs {
        display: none;
    }
}
