.toolbar-item {
    font-size: 1.05em;
    margin-left: 1em;
    cursor: pointer;
    background: #ccc;
    padding: 0.2em 0.75em;
    border-radius: 5px;
}
.toolbar-container {
    background: #ededed;
    color: #515356;
    padding: 0.5rem 1rem !important;
}
.toolbar-separator {
    font-size: 1.2em;
    margin-left: 1em;
    cursor: default;
    font-weight: 600;
    padding-top: 3px;
}
