.navbar {
    padding: 0 1rem !important;
}
.navbar-toggler {
    margin: 0.5rem 0 !important;
}
.navbar-container {
    background-color: rgba(42, 63, 84, 1);
    color: #ECF0F1 !important;
}
.navbar-container * {
    color: #ECF0F1 !important;
}
.navbar-container *:hover {
    color: #ECF0F1 !important;
}
.logo-cs {
    font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
}
.logo-container {
    font-size: 22px !important;
}
.header-link {
    position: relative;
    padding: 1rem 0.5rem !important;
}
.active {
    background-color: rgba(255, 255, 255, 0.06);
}
